.prof-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: .5em;
    padding: 10em;
    background-color: #E0ECDE;

    .prof-cont{
        padding-top: 2em;
    }
}