.store-container {
    margin: 0 auto;
    text-align: center;
    background-color: white;

    &.row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .store-card-item {
        width: 23%;
        height: 20em;
        background-color: #ff6f69;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        padding: 10px;
    }    
}
  

