.store-container {
    margin: 0 auto;
    text-align: center;
    background-color: white;

    &.row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
  
.store-card-container {
    width: 22.5%;
    height: 200px;
    background-color: #ff6f69;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    padding: 30px;
}

