@import './LRForm.scss';
@import './style.scss';
@import './homepage.scss';

html, body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 100%;
}

body{
    margin: 0;
}